.header_category
  %ul
    %li
      衣服
      %ul.humans_category
        %li.human
          レディース
          %ul.clothes_content
            %li
              トップス
            %li
              パンツ
            %li
              小物
        %li.human
          メンズ
          %ul.clothes_content
            %li
              トップス
            %li
              パンツ
            %li
              小物
        %li.human
          キッズ
          %ul.clothes_content
            %li
              トップス
            %li
              パンツ
            %li
              小物
    %li
      ホビー
      %ul.hobbies_category
        %li.hobbies
          おもしろ
          %ul.hobby_content
            %li
              人形
            %li
              ラジコン
            %li
              楽器
        %li.sports
          スポーツ
          %ul.sport_content
            %li
              野球
            %li
              サッカー
            %li
              バスケ
        %li.vehicles
          乗り物
          %ul.vehicle_content
            %li
              車
            %li
              自転車
            %li
              バイク
    %li
      家電
      %ul.electronics_category
        %li.computers
          PC
          %ul.computer_content
            %li
              タブレット
            %li
              ノートパソコン
            %li
              パーツ
        %li.electronics
          生活家電
          %ul.electronic_content
            %li
              レンジ
            %li
              TV
            %li
              洗濯機
        %li.cameras
          カメラ
          %ul.camera_content
            %li
              デジカメ
            %li
              ビデオカメラ
            %li
              レンズ
