.main
  .mypage
    .mypage-left
      %ul.mypage-list
        %li.mypage-list__item
          = link_to root_path, class: 'mypage-list__item--link' do
            = 'マイページ'
            = fa_icon 'angle-right', class: 'angle-icon'
        %li.mypage-list__item
          お知らせ
        %li.mypage-list__item
          やることリスト
        %li.mypage-list__item
          いいね！一覧
        %li.mypage-list__item
          出品する
        %li.mypage-list__item
          出品した商品-出品中
        %li.mypage-list__item
          出品した商品-取引中
        %li.mypage-list__item
          出品した商品-売却済み
        %li.mypage-list__item
          購入した商品-取引中
        %li.mypage-list__item
          購入した商品-過去の取引
        %li.mypage-list__item
          ニュース一覧
        %li.mypage-list__item
          評価一覧
        %li.mypage-list__item
          ガイド
        %li.mypage-list__item
          お問い合わせ

        %h3.mypage-head
          売上・ポイント
        %li.mypage-list__item
          売上・振込申請
        %li.mypage-list__item
          ポイント
        %h3.mypage-head
          設定
        %li.mypage-list__item
          プロフィール
        %li.mypage-list__item
          住所変更
        %li.mypage-list__item
          支払い方法
        %li.mypage-list__item
          メール/パスワード
        %li.mypage-list__item
          本人情報
        %li.mypage-list__item
          電話番号の確認
        %li.mypage-list__item
          ログアウト




    .mypage-right
      .mypage-user-icon
        = link_to root_path, class: 'mypage-user-icon__link' do
          .mypage-user-icon-image
          .mypage-user-icon-name なまえ
          .mypage-number
            評価 ０　 出品数 ０

      .mypage-tab-container
        %ul.mypage-tabs
          %li やることリスト
          %li__active お知らせ
        .mypage-item-list
          %ul.mypage-tab-todo

            %li.mypage-item
              現在、お知らせはありません

      .mypage-tab-container-second
        %h2.mypage-tab-head
          購入した商品
        %ul.mypage-tabs
          %li 過去の取引
          %li__active 取引中
        .mypage-item-list
          %ul.mypage-tab-todo
            %li.mypage-item
              取引中の商品がありません


















