.buy {
  background-color: #f5f5f5;
  .buy-main {
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    width: 1440px;
    height: 966px;
    .buy-container {
      width: 700px;
      height: 966px;
      margin: auto;
      background-color: #fff;
      .buy-head {
        height: 97px;
        font-size: 22px;
        font-weight: bold;
        color: #333;
        text-align: center;
        line-height: 97px;
        border-bottom: 1px solid #f5f5f5;
      }
    }
    .buy-item {
      width: 700px;
      height: 445px;
      padding-top: 25px;
      &-inner {
        width: 320px;
        height: 445px;
        margin: auto;
        &__image {
          width: 148px;
          height: 148px;
          padding: 0 86px;
          img {
            width: 148px;
            height:148px;
            background-size: cover;
            border-style:none;
            // background-image: url('https://pbs.twimg.com/media/DrU6Zi1WwAENywP.jpg')
          }
        }
        &__name {
          height: 34px;
          padding-top: 8px;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          text-decoration: none;
        }
        .buy-form {
          .buy-price {
            display: flex;
            justify-content: center;
            height: 42px;
            padding-top: 8px;
            margin: 0 auto;
            font-size: 28px;
            font-weight: 600;
            text-align: center;
          }
          .item-shipping {
            width: 56px;
            height: 21px;
            margin-left: 8px;
            padding-top: 6px;
            font-size: 12px;
            font-weight: 400;
            float: right;
            .shipping-price {
              font-size: 15px;
              margin: 5px 0 0 0;
            }
          }
          .buy-accordion {
            height: 48px;
            margin-top: 16px;
            background-color: #ccc;
            font-size: 14px;
            text-align: center;
            line-height: 48px;
          }
          .buy-price-table {
            display: flex;
            font-size: 28px;
            font-weight: 600;
            &__text {
              width: 198px;
              padding: 16px 0
            }
            &__pay {
              text-align: right;
              width: 122px;
              padding: 16px 0;
              p {
                float: left;
              }
            }
          }
        }
        .buy-button-pay-btn {
          width: 320px;
          height: 50px;
          background: #ea352d;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          line-height: 48px;
          margin-top: 16px;
          cursor: pointer;
        }
        .buy-no-text {
          margin: 8px 0 0 0;
          font-size: 14px;
          color: red;
          text-align: center;
        }
        p.buy-button-pay-no {
            height: 48px;
            margin-top: 16px;
            background-color: #ccc;
            font-size: 14px;
            text-align: center;
            line-height: 48px;
        }
      }
    }
    .buy-street-address {
      height: 130px;
      margin: 40px 0 0;
      padding: 24px 12.5% 0;
      border-top: 1px solid #f5f5f5;
      &__inner {
        width: 320px;
        height: 103px;
        font-weight: 600;
        margin: 0 auto;
        &__text {
          margin-top: 8px;
          font-weight: 400;
          line-height: 10px;
        }
        &__change {
          margin-top: 8px;
          font-weight: 400;
          float: right;
        }
      }
    }
    .buy-user-card {
      &-content {
        height: 173px;
        margin-top: 20px;
        font-weight: 600;
        border-top: 1px solid #f5f5f5;
        &__inner {
          width: 320px;
          height: 92px;
          margin: 0 auto;
          padding-top: 40px;
          &__text {

            font-weight: 400;
            line-height: 10px;
          }
          &__image {
            width: 49px;
            height: 15px;
            margin-top: 5px;
            background-size: cover;
            // background-image: url('https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?392262853');
            img {
              background-color: transparent;
              border: 0px!important;
              padding: 0px;
            }
          }
          &__change {
            margin-top: 8px;
            font-weight: 400;
            float: right;
          }
        }
      }
    }
  }
}
