.exhibit_btn {
  .fa.fa-circle {
    color: red;
    position: fixed;
    right: 32px;
    bottom: 20px;
  }

  .exhibit_btn__text {
    color: white;
    font-size: 22px;
    font-weight: bold;
    position: fixed;
    right: 105px;
    bottom: 130px;
  }

  .fa.fa-camera {
    color: white;
    position: fixed;
    right: 97px;
    bottom: 67px;
  }
}

