.exhibit_btn {
  &__circle {
    color: #ea352d;
    position: fixed;
    right: 32px;
    bottom: 32px;
    font-size: 160px;
  }

  &__text {
    color: white;
    font-size: 22px;
    position: fixed;
    right: calc( 32px + ( 160px - 44px ) / 2 );
    bottom: 130px;
  }

  &__camera {
    color: white;
    position: fixed;
    right: calc( 32px + ( 160px - 60px ) / 2 );
    bottom: 70px;
    font-size: 60px;
  }
}

