.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.main-contents {
  background-color: #f5f5f5;
  .header-content {
    background-color: #fff;
  }
  .default-main {
    margin: 40px auto 0;
    width: 1020px;
    height: 1252px;
    padding: 0 0 40px;
    .default-main-content {
      background-color: #fff;
      float: right;
      width: 700px;
      // min-width: 768px;
      .chapter-container {
        &__chapter-head {
          font-size: 24px;
          padding: 8px 24px;
          text-align: center;
          font-weight: bold;
        }
        &__text-center {
          text-align: center;
        }
        .chapter-single-inner {
          padding: 64px;
          .form-group {
            label {
              font-weight: 600;
              display: inline-block;
            }
            .form-default-content {
              margin: 0 0 0 8px;
              padding: 2px 4px;
              background: #ea352d;
              color: #fff;
              border-radius: 2px;
              font-size: 12px;
              vertical-align: top;
            }
            .address-info {
              margin: 0 0 0 4px;
              address {
                line-height: 1.5;
                p {
                  margin: 0;
                }
                .add-main {
                  font-size: 16px;
                }
              }
              a {
              }
            }
            .clearfix {
            }
          }
          .form-group-select {
            margin: 40px 0 0;
            label {
            }
            span.form-default-content {
            }
            .birthday-select-wrap {
              display: inline-block;
              .select-wrap {
                float: left;
                width: 140px;
                margin: 8px 0 0;
                position: relative;
                #selectyear {
                  background-color: #fff;
                  width: 100%;
                  height: 48px;
                  padding: 0 16px;
                  border: 1px solid #ccc;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  -webkit-appearance: none;
                  position: relative;
                }
                .fa-angle-down {
                  color: #888;
                  top: 50%;
                  right: 16px;
                  font-size: 30px;
                  transform: translate(600%, -130%);
                }
              }
              span {
                margin: 0 8px;
                float: right;
                line-height: calc( 48px + 8px * 2 );
              }
            }
            .birthday-select-wrap {
              &__month.select-wrap {
                 #selectyear{
                }
                .i.fas.fa-angle-down {
                }
              }
              span {
              }
            }
            .birthday-select-wrap {
              &____day {
                #selectyear {
                }
                .i.fas.fa-angle-down {
                }
              }
              span {
              }
            }
            .form-info.text {
              color: #888;
              line-height: 1.5;
            }
            .clearfix {
            }
          }
          .btn-default.btn-red {
            width: 100%;
            background-color: #ea352d;
            border: 1px solid #ea352d;
            text-align: center;
            color: #fff;
            font-size: 14px;
            margin: 40px 0 0 0;
          }
          .form-group.text-right {
            margin: 40px 0 0;
            text-align: right;
            p {
              line-height: 1.5;
              .text-right-bt {
                color: #0099e8;
                i.fas.fa-angle-right {
                  font-size: 20px;
                  color: #0099e8;
                  transform: translate(0, 10%);
                }
              }
            }
          }
        }
      }
    }
    .dedaults-main-side {
      float: left;
      margin: -40px 0 0 0;
    }
  }
}


