.logout {
  width: 700px;
  height: 179px;
  background-color: #fff;
  float: left;
  margin-top: 40px;
  &-content {
    width: 320px;
    height: 48px;
    margin: 0 auto;
    margin-top: 65px;
    padding: 1px;
    background: #ea352d;
    &-button {
      width: 318px;
      height: 48px;
      margin: auto;
      color: #fff;
      text-align: center;
      line-height: 48px;
      font-size: 14px;
    }
  }
}
