.mypage-left {
  width: 280px;
  float: left;
  margin: 40px 40px 40px 0 ;
  background-color: #fff;
  .mypage-list {
    &__link {
      height: 48px;
      display: block;
      &__item {
        height: 46px;
        border: 1px solid #f5f5f5;

        &__text {
          height: 16px;
          float: left;
          font-size: 14px;
          line-height: 16px;
          padding: 15px;
          color: #333;
        }
        &__icon {
          font-size: 26px;
          padding: 10px 16px 0 0;
          float: right;
          color: #ccc;
        }
      }
    }
    .mypage-head {
      font-size: 16px;
      padding-top: 40px;
      background-color: #f5f5f5;
    }
    h3 {
      font-weight: bold;
      padding-bottom: 5px;
    }
  }
}
