.account-page {
  .account-page__inner {
    padding: 5px 0 50px 0;
    border-radius: 5px;

    .account-page__inner--center{
      background-color: white;
      width: 700px;
      height: 100%;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .signin-page__inner {
    padding: 5px 0 50px 0;
    border-radius: 5px;

    .signin-page__inner--center{
      background-color: white;
      width: 450px;
      height: 100%;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h1 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
        border-bottom: 1px solid #38aef0;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      margin-top: 20px;
      color: white;
      background-color: $red;
      font-size: 14px;
    }
  }

  nav.progress-bar.signup-bar li{
    float: left;
    padding-right: 45px;
  }

  .progress-bar {
    display: inline-block;
    vertical-align: top;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}


  .field {
    margin-bottom: 10px;

    @mixin field-css{
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 600;
    }

  .field-label {
    padding: 10px 0px 5px 0px;
    @include field-css;
    &__user_name{
      padding: 10px 170px 5px 0px;
      @include field-css;
     }
    &__email{
      padding: 30px 155px 5px 0px;
      @include field-css;
     }
     &__password{
      padding: 30px 185px 5px 0px;
      @include field-css;
     }
     &__password_confirmation{
      padding: 30px 145px 5px 0px;
      @include field-css;
     }
    i {
      font-size: 11px;
    }
  }

  .field-label {
    padding: 10px 0px 5px 0px;
    @include field-css;
    &__email--sign{
      padding: 50px 155px 5px 0px;
      @include field-css;
     }
     &__password--sign{
      padding: 5px 185px 5px 0px;
      @include field-css;
     }
    i {
      font-size: 11px;
    }
  }

  .field-input {
    input {
      width: 40%;
      padding: 10px;
      letter-spacing: 1px;
    }
  }
  .field-input__sign {
    input {
      width: 60%;
      padding: 10px;
      letter-spacing: 1px;
    }
  }
}

  .new_user{
    text-align: center;
  }

  .account-page__inner{
    background-color: #f5f5f5;
    padding-bottom: 100px;
  }

  .signin-page__inner {
    background-color: #f5f5f5;
}

  .btn {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }
  .btn-signin {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  input[type='submit'] {
    margin-top: 40px;
    width: 300px;
    color: white;
    background-color: $red;
    font-size: 14px;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

// registrations

.field_with_errors {
  display: inline;
   }

@mixin error-message{
  display: none;
  color: $red;
  padding-right: 190px;
  font-size: 14px;
  padding-top: 4px;
}

.name-error{
 @include error-message;
}

.email-error{
  @include error-message;
}

.email-login-error{
  @include error-message;
  padding-right: 180px;
}

.password-error{
  @include error-message;
}

.password-login-error{
  @include error-message;
  padding-right: 180px;
}

@mixin password128{
  display: none;
  color: $red;
  width: 296px;
  margin: 0 auto;
  padding-right: 8px;
  font-size: 13px;
  padding-top: 4px;
  text-align: -webkit-auto;
}

.password-error-message{
  @include password128;
}

.password-login-error-message{
  @include password128;
  font-size: 14px;
  margin: 5px auto 0px;
  padding-right: 0;
  line-height: 25px;
}

.password_confirmation-error{
  @include error-message;
}

@mixin error-message-center{
  display: none;
  color: $red;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 38px;
}

.no-match-error{
  @include error-message-center;
  text-align: center;
}

.no-number-only{
  @include error-message-center;
  text-align: center;
}

.already-taken{
  @include error-message-center;
  width: 325px;
  margin: 0 auto;
}

.single-head{
  padding: 38px 16px;
  img{
    width: 185px;
    height: 49px;
    padding-left: 340px;
    }
}

.progress-bar {
  color: #ccc;
  font-size: 12px;
  font-weight: 600;
  padding-left: 80px;
}

li.red{
  color: $red;
}

@mixin progress-status-css{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
}

.progress-status{
  @include progress-status-css;
  background: #ccc;
}

.progress-status-true{
  @include progress-status-css;
  background: $red;
}

.progress-status-fin{
  @include progress-status-css;
  background: #ccc;
}

.progress-status-true:after {
  position: relative;
  display: block;
  content: '';
  width: 390px;
  height: 2px;
  background: #ccc;
  left: 12px;
  top: 5px;
}

.progress-bar li.progress-status:after {
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
}

.secound-head{
  padding: 38px 16px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px #f5f5f5 solid;
  margin-bottom: 50px;
  }

.form-require{
  background-color: $red;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}

footer{
    text-align: center;
}

.single-footer a {
  color: #333;
  font-size: 12px;
}

a {
  color: #0099e8;
  text-decoration: none;
}

.footer-bar{
  width: 450px;
  margin: 0 auto;
}

nav.footer-bar li{
  float: left;
  padding: 40px 20px 60px 14px;
  }

small{
  font-size: 10px;
}

// sessions
.email-pass-error{
  display: none;
}

.single-head--center{
  padding: 38px 16px;
  text-align: center;
  img{
    width: 185px;
    height: 49px;
    }
}

.login-no-account p {
  font-size: 13px;
}

.login-no-account {
  padding: 40px 32px;
  text-align: center;
  border-bottom: 1px #f5f5f5 solid;
}

.login-no-account a {
  display: block;
  font-size: 14px;
  margin: 2px auto;
  border: 1px solid #0099e8;
  background: #0099e8;
  color: #fff;
  line-height: 40px;
  width: 300px;
}

.login-form-inner-index a{
  color:black;
}

.btn-sns-facebook:first-child  {
  margin-top: 30px;
  margin-bottom: 20px;
}
.btn-sns-facebook {
  margin: 16px 0 0;
  background: #385185;
  color: #fff;
}
.fab.fa-facebook{
  position: relative;
  right: 60px;
  top: 1px;
}

.fab.fa-facebook.custum {
  position: relative;
  right: 83px;
  top: 1px;
}

.btn-sns-google {
  margin: 16px 0 0;
  background: #dc4e41;
  color: #fff;
}

.fab.fa-google-plus-g{
  position: relative;
  right: 65px;
  top: 1px;
}

.fab.fa-google-plus-g.custum{
  position: relative;
  right: 95px;
  top: 1px;
}

.btn-sns-google{
  margin-top: 30px;
  margin-bottom: 20px;
}

.far.fa-envelope {
  position: relative;
  right: 65px;
  top: 3px;
  color: #d0d0d0;
}

.btn-sns-facebook:first-child {
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn-mail {
  margin: 16px 0 0;
  background: #eee;
}

@mixin btn-css{
  display: block;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 20px auto;
}

.btn-default {
  @include btn-css;
  width: 67%;
}

.btn-custum {
  @include btn-css;
  width: 47%;
}

.password-forget a {
  display: block;
  margin: 40px 150px 0 0;
  font-size: 14px;
}


#error_explanation {
  display: none;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}


.account-page .field-input .field_with_errors:after {
  display: none;
}

body{
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}
