.message-item.clearfix
  .message-user
    %figure
      .message-user-unknown
        %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?1016580576"}/
  .message-body
    .message-body-text 出品者がコメントを削除しました
    .message-icons.clearfix
      %time.message-icon-left
        %i.far.fa-clock
        %span 13 日前
      .message-icon-right
        %i.far.fa-flag
