- num = 0
- @page_comments.each do |comment|
  - num += 1
  - if num == 1
    .message-item-1.clearfix
      .message-user
        %figure
          .message-user-unknown
            %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?1016580576"}/
      .message-body
        .message-body-text
          = comment.text
        .message-icons.clearfix
          %time.message-icon-left
            %i.far.fa-clock
            %span 13 日前
          .message-icon-right
            %i.far.fa-flag
  - else
    .message-item-2.clearfix
      .message-user
        %figure
          .message-user-unknown
            %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?1016580576"}/
      .message-body
        .message-body-text
          = comment.text
        .message-icons.clearfix
          %time.message-icon-left
            %i.far.fa-clock
            %span 13 日前
          .message-icon-right
            %i.far.fa-flag
