.category__items--each
  = link_to "/products/show" do
    .category__items--each__img
      = image_tag('Pic1.jpg')
    .category__items--each__detail
      .category__items--each__detail__top-name
        オーバーウォール
      .category__items--each__detail__middle.clearfix
        .category__items--each__detail__middle--price
          ￥13,000
        .category__items--each__detail__middle--heart.clearfix
          .category__items--each__detail__middle--heart__mark
            %i.far.fa-heart.small
          .category__items--each__detail__middle--heart__num
            2
      .category__items--each__detail__bottom-tax
        (税込)
