- if @product.ship_from_location.to_i == 1
  北海道
- elsif @product.ship_from_location.to_i == 2
  青森県
- elsif @product.ship_from_location.to_i == 3
  岩手県
- elsif @product.ship_from_location.to_i == 4
  宮城県
- elsif @product.ship_from_location.to_i == 5
  秋田県
- elsif @product.ship_from_location.to_i == 6
  山形県
- elsif @product.ship_from_location.to_i == 7
  福島県
- elsif @product.ship_from_location.to_i == 8
  茨城県
- elsif @product.ship_from_location.to_i == 9
  栃木県
- elsif @product.ship_from_location.to_i == 10
  群馬県
- elsif @product.ship_from_location.to_i == 11
  埼玉県
- elsif @product.ship_from_location.to_i == 12
  千葉県
- elsif @product.ship_from_location.to_i == 13
  東京都
- elsif @product.ship_from_location.to_i == 14
  神奈川県
- elsif @product.ship_from_location.to_i == 15
  新潟県
- elsif @product.ship_from_location.to_i == 16
  富山県
- elsif @product.ship_from_location.to_i == 17
  石川県
- elsif @product.ship_from_location.to_i == 18
  福井県
- elsif @product.ship_from_location.to_i == 19
  山梨県
- elsif @product.ship_from_location.to_i == 20
  長野県
- elsif @product.ship_from_location.to_i == 21
  岐阜県
- elsif @product.ship_from_location.to_i == 22
  静岡県
- elsif @product.ship_from_location.to_i == 23
  愛知県
- elsif @product.ship_from_location.to_i == 24
  三重県
- elsif @product.ship_from_location.to_i == 25
  滋賀県
- elsif @product.ship_from_location.to_i == 26
  京都府
- elsif @product.ship_from_location.to_i == 27
  大阪府
- elsif @product.ship_from_location.to_i == 28
  兵庫県
- elsif @product.ship_from_location.to_i == 29
  奈良県
- elsif @product.ship_from_location.to_i == 30
  和歌山県
- elsif @product.ship_from_location.to_i == 31
  鳥取県
- elsif @product.ship_from_location.to_i == 32
  島根県
- elsif @product.ship_from_location.to_i == 33
  岡山県
- elsif @product.ship_from_location.to_i == 34
  広島県
- elsif @product.ship_from_location.to_i == 35
  山口県
- elsif @product.ship_from_location.to_i == 36
  徳島県
- elsif @product.ship_from_location.to_i == 37
  香川県
- elsif @product.ship_from_location.to_i == 38
  愛媛県
- elsif @product.ship_from_location.to_i == 39
  高知県
- elsif @product.ship_from_location.to_i == 40
  福岡県
- elsif @product.ship_from_location.to_i == 41
  佐賀県
- elsif @product.ship_from_location.to_i == 42
  長崎県
- elsif @product.ship_from_location.to_i == 43
  熊本県
- elsif @product.ship_from_location.to_i == 44
  大分県
- elsif @product.ship_from_location.to_i == 45
  宮城県
- elsif @product.ship_from_location.to_i == 46
  鹿児島県
- elsif @product.ship_from_location.to_i == 47
  沖縄県
- else
  未定
