= form_tag(action: :pay, method: :post) do
  %script.payjp-button{"data-key" => "pk_test_0409b31245bf4cd1dd2312b6", "data-submit-text" => "カード番号を登録して閉じる", :src => "https://checkout.pay.jp/", :type => "text/javascript"}

